@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-custom {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media (max-width: 550px) {
  .rounded-custom {
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0;
  }
}